* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
}

/* HEADER Styling*/
header {
  height: 100px;
  background-color: #e4f9f5;
}

.header-container {
  width: 1000px;
  height: 90px;
  -border: 1px solid red;
  margin: 0 auto;
}

.header-container img {
  width: 80px;
  float: left;
  margin-top: 10px;
}

a {
  color: #11999e;
  text-decoration: none;
  margin: 36px 10px 0 10px;
  float: right;
}

a:hover {
  color: #3e5a54;
}

/* TOP CONTAINER Styling*/

h1 {
  color: #66bfbf;
  font-size: 5em;
  font-family: "Sacramento", cursive;
  padding: 50px auto 0px auto;
}

h2 {
  color: #66bfbf;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin-top: 0px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

#top-cloud {
  position: absolute;
  right: 400px;
  top: 85px;
}

#bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 350px;
}

#mountain {
  position: relative;
  top: 35px;
}

/* MIDDLE CONTAINER Styling*/
.middle-container {
  margin: 100px auto;
}

#my-photo {
  width: 250px;
  border-radius: 100%;
}

.profile h2 {
  margin-top: 20px;
}

.profile p {
  margin: 0px auto 40px auto;
  width: 30%;
  color: #40514e;
  font-size: 1.3em;
}
hr {
  width: 5%;
  border: 6px dotted;
  border-bottom: none;
  color: #0199ae;
  margin: 100px auto;
}

/* MY SKILLS 1 Styling*/
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.computer-img {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.chillies-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skills h2 {
  margin-top: 50px;
  color: #1e836c;
  line-height: 1.1;
}

/* My Skills 2 Container*/

.my-skills {  
  font-size: 16px;
}

.skills-container {
  width: 840px;
  margin: 0 auto;
  display: flex;
}

.skills-container ul {
  list-style-type: none;
  text-align: center;
}

.my-skills h2 {
  margin: 40px auto;
}

.skills-container li {
  padding: 15px 0;
}

.left-column {
  float: left;
  width: 400px;
}

.right-column {
  float: right;
  width: 400px;
  margin-left: 50px;
}

.skill-name {
  float: left;
  margin-top: 5px;
}

.skill-degree {
  float: right;
}

.star-full {
  color: #22a39f;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.star-empty {
  color: #dfe0e0;
  font-size: 20px;
}

/*CONTACT Styling */
.contact-me p {
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding-top: 10px;
}

/*
.btn {
  margin: auto;
  background: #56a8de;
  background-image: -webkit-linear-gradient(top, #56a8de, #3997d1);
  background-image: -moz-linear-gradient(top, #56a8de, #3997d1);
  background-image: -ms-linear-gradient(top, #56a8de, #3997d1);
  background-image: -o-linear-gradient(top, #56a8de, #3997d1);
  background-image: linear-gradient(to bottom, #56a8de, #3997d1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/
